<!-- Splash Activity (LAUNCHER) -->
<activity
    android:name=".SplashActivity"
    android:theme="@style/SplashTheme"
    android:exported="true"
    android:screenOrientation="portrait">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>

<!-- Main Activity -->
<activity
    android:name=".MainActivity"
    android:exported="true"
    android:theme="@style/AppTheme"
    android:screenOrientation="portrait"
    android:launchMode="singleTask">

    <!-- Deep Link Support -->
    <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="smkmaarif" />
    </intent-filter>
</activity>